#dati{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

input{
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    margin-left: 20px;
}

button{
    border: 2px solid gray;
    border-radius: 15px 15px 15px 15px;
    background-color: aliceblue;
    height: 30px;
    width: 150px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(152, 176, 197);
}

body{
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
}

#casa{
    height: 600px;
    width: 500px;
    border-radius: 5% 5% 5% 5%;
    border: 4px solid black;
}

#contenitore{
    margin-top: 100px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#bagno, #camera, #soggiorno, #cucina, #terrazzo{
    position: absolute;
}

#bagno{
    top: 380px;
    left: 55%;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 236, 92, 0.492);
    display: none;
}

#camera{
    top: 370px;
    left: 45%;
    height: 200px;
    width: 180px;
    background-color: rgba(255, 236, 92, 0.492);
    display: none;
}

#soggiorno{
    top: 570px;
    left: 45%;
    height: 160px;
    width: 220px;
    background-color: rgba(255, 236, 92, 0.492);
    display: none;
}

#cucina{
    top: 720px;
    left: 51%;
    height: 130px;
    width: 170px;
    background-color: rgba(255, 236, 92, 0.492);
    display: none;
}

#terrazzo{
    top: 800px;
    left: 41%;
    height: 150px;
    width: 180px;
    background-color: rgba(255, 236, 92, 0.492);
    display: none;
}